packages
/GoodsTracker/bin
/GoodsTracker/obj
.vs

FreeRTOS_TAD_logs/

\.metadata/

platform/esp32/build/

platform/tracker_ref/

platform/MQX_RTOS_TAD_logs/

web/user/__pycache__/

web/tracker/__pycache__/

web/service/__pycache__/

web/user/migrations/__pycache__/

web/tracker/migrations/__pycache__/

web/service/migrations/__pycache__/

web/GoodsTracker/__pycache__/

web/route/__pycache__/

web/route/migrations/__pycache__/

web/chat/__pycache__/

web/chat/migrations/__pycache__/

web/core/thingspeak/__pycache__/

web/monitor/__pycache__/

web/monitor/migrations/__pycache__/

web/home/__pycache__/

web/home/migrations/__pycache__/

web/core/devices/__pycache__/

web/core/domain/__pycache__/

web/graphics/__pycache__/

web/graphics/migrations/__pycache__/

web/history/__pycache__/

web/history/migrations/__pycache__/

web/dashboard/__pycache__/

web/dashboard/migrations/__pycache__/

web/core/rabbitmq/__pycache__/
