
/*
.container-box {
    width: 100%;
    height: calc(100vh - 56px);
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 25% 15% 60%;
    grid-template-rows: 80% 20%;
    grid-template-areas:
      'a b b'
      'a c d' ;
}

.box {
    background-color: #9009A0;
    font-size: smaller;
    margin: 0;
    padding: 0;
}

.directions-panel {
    overflow: auto; 
    grid-area: a;
}

.map {
    grid-area: b;
}

.summary-directions {
    grid-area: c;
}

.tlm {
    overflow: auto;
    grid-area: d;
}
*/
#table_position{

    font-size: smaller;
    margin: 0;
    padding: 0;
    width:100%;
}

.container-directions{
    max-width: none;
    overflow: auto;
    padding-left:0;
    padding-right:0;
    max-height:  400px;
    
}

.container-map{
    max-width: none;
    height:  500px;
}

#map{
    max-width: none;
    height:  500px;
}

.padding-2{
    padding-left:2;
}