{% extends '_base.html' %}
{% block header_text %} Usuários {% endblock header_text %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr data-username="{{ user.username|escape }}">
          <th scope="row">1</th>
          <td>{{ user.username|escape }}</td>
          <td>{{ user.status|default:'Offline' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock content %}